* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*DEBUG*/

.border {
    border: 1px red solid;

}
 
/*DEBUG*/




body {
    font-family: Georgia, sans-serif;
    background-color: #d9dbd4;
}

.top {
    height: 70px;
    background-color: #009688;
}

.container {

    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    display: flex;
    width: 1000px;
    padding: 10px;
    background-color: #eaeaea;
}

.list {
    height: 100%;
    width: 40%;
}

.message {
    height: 100%;
    width: 60%;
}

.message-text {
    background-image: url(../img/mine.jpg);
}

.container-top {
    height: 50px;
    display: flex;
}

.sx {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.dx {
    width: 20%;
}

.container-top i {
    line-height: 50px;
    padding: 0 5px;
    color: #b1b1b1;
}

img {
    height: 100%;
    padding: 5px;
    border-radius: 50%;
}

.notify {
    height: 50px;
    background-color: #8edafc;
    padding: 5px;
    display: flex;
}

.text {
    padding: 0 5px;
}

.text-gray {
    color: gray;
}

.notify .bell {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notify i {
    font-size: 25px;
    color: #8edafc;

}

.data-input {
    height: 50px;
    display: flex;
}

.data-input input {
    height: 100%;
    flex-grow: 1;
    border: none;
}

.data-input i {
    background-color: white;
    line-height: 50px;
    color: #b1b1b1;
    padding: 0 5px;
}

.contact {
    height: 50px;
    display: flex;
}
