<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="app">
        <div class="top"></div>
        <div class="container">

            <div class="list border">
                <div class="container-top border">

                    <div class="sx">
                        <img src="img/avatar_io.jpg" alt="">
                        <Span>Sofia</Span>
                    </div>

                    <span class="dx"> <i class="fa-solid fa-arrows-rotate"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </span>
                </div>


                <div class="notify border">
                    <div class="bell"><i class="fa-regular fa-bell-slash"></i></div>
                    <div class="text">Ricevi notifiche di nuovi messaggi
                        <div class="text-gray">attiva notifiche desktop</div>
                    </div>
                </div>
                <div class="data-input border">

                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" placeholder="Cerca o inizia una nuova chat" name="" id="" v-model="testo">

                </div>


                <div class="contact border">

                    <div class="sx" v-for="(contact, index) in contacts">

                        <img :src="contact.avatar" alt="">
                        <div class="text">Ricevi notifiche di nuovi messaggi
                            <div class="text-gray">attiva notifiche desktop</div>
                        </div>
                    </div>
                </div>






            </div>







            <div class="message border">
                <div class="container-top border">

                </div>
                <div class="message-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quis ut laborum aperiam dolore, a
                    repellat blanditiis sit expedita at, nisi reprehenderit nesciunt dignissimos molestiae! Numquam
                    nesciunt rerum quos nobis reiciendis mollitia odio id fuga eius aliquid quaerat facilis officia
                    culpa, asperiores officiis sint, voluptatem inventore placeat. Quod fuga at a ut autem nihil
                    inventore porro esse, dolores officia vel impedit perspiciatis natus itaque animi cum! Optio vitae
                    amet libero, mollitia voluptas recusandae aspernatur veniam praesentium dicta incidunt
                    exercitationem blanditiis odit, adipisci iste odio eius minima obcaecati sit natus aliquam enim
                    perspiciatis? Autem molestiae labore tenetur veniam rem excepturi voluptatum necessitatibus aliquam
                    numquam praesentium alias aliquid, accusantium suscipit, odio ea aspernatur cumque, doloremque
                    mollitia distinctio? Qui doloremque aliquid dolorem labore consequuntur, id unde rerum nulla dolore
                    nesciunt molestiae? Accusantium repellendus voluptates eius rem, quibusdam corrupti tempora
                    inventore consequuntur blanditiis dolorem molestiae iste odit laborum officiis quas perspiciatis,
                    nesciunt earum. Ab ad necessitatibus vel laborum libero commodi voluptates omnis, fugiat earum qui
                    placeat quod dolorum nesciunt, labore modi eum voluptatum numquam sed. Distinctio quod sit illum,
                    repudiandae fugiat suscipit repellendus nulla magni officia quas accusantium illo quaerat porro!
                    Ratione sit magnam molestias blanditiis voluptatibus, quo sunt nesciunt adipisci, ducimus dolor eos!
                </div>

            </div>


            <!-- <input type="text" name="" id=""v-model="testo">
            <p>{{testo}}</p> -->
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>