<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="app">
        <div class="top"></div>
        <div class="container">

            <div class="list">

                <div class="container-small">
                    <div class="sx">
                        <img src="img/avatar_5.jpg" alt="">
                        <Span>Me</Span>
                    </div>

                    <span class="dx"> <i class="fa-solid fa-arrows-rotate"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </span>
                </div>

                <div class="notify">
                    <div class="bell"><i class="fa-regular fa-bell-slash"></i></div>
                    <div class="text">Ricevi notifiche di nuovi messaggi
                        <div class="text-gray">attiva notifiche desktop</div>
                    </div>
                </div>

                <div class="data-input">
                    <span class="glass"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" placeholder="Cerca o inizia una nuova chat" name="" id="" v-model="">
                </div>
                <div class="contact-list">

                    <div class="contact" v-for="(contact, indice) in contacts" :class="(indice === contattoAttivo) ? 'contatto-attivo' : ''"
                    @click="contactActive(indice)" v-show="contact.visible">
                        
                        <div class="sx">
                            <img :src="contact.avatar" alt="">
                            <div class="text">{{contact.name}}
                                <div class="text-gray">Ultimo messaggio inviato</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="messages">

                <div class="container-small">
                    <div class="sx">
                        <img src="img/avatar_5.jpg" alt="">
                        <Span>Me</Span>
                    </div>

                    <span class="dx">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <div class="messages-text">
                    <div class="user-container">
                        <p class="user-message">{{contacts[contattoAttivo].messages[0].message}}</p>
                    </div>
                    <div class="pc-container">
                        <p class="pc-message">{{contacts[contattoAttivo].messages[1].message}}</p>

                    </div>
                </div>

                <div class="data-input">
                    <Span class="icon-bottom"><i class="fa-regular fa-face-smile"></i></Span>
                    <input @keyup.enter="" id="input-bottom" type="text" placeholder="Scrivi un messaggio" name="" id=""
                        v-model="testo">
                    <Span class="icon-bottom"><i class="fa-solid fa-microphone"></i></Span>

                </div>










            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>