<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="app">
        <div class="top"></div>
        <div class="container">

            <div class="list">

                <div class="container-small">
                    <div class="sx">
                        <img src="img/avatar_5.jpg" alt="">
                        <Span>Me</Span>
                    </div>

                    <span class="dx"> <i class="fa-solid fa-arrows-rotate"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </span>
                </div>

                <div class="notify">
                    <div class="bell"><i class="fa-regular fa-bell-slash"></i></div>
                    <div>Ricevi notifiche di nuovi messaggi
                        <div class="text-gray underline">attiva notifiche desktop</div>
                    </div>
                </div>

                <div class="data-input">
                    <span class="glass"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="contact-list">

                    <div class="contact" v-for="(contact, indice) in contacts"
                        :class="(indice === contattoAttivo) ? 'contatto-attivo' : ''" @click="contactActive(indice)"
                        v-show="contact.visible">

                        <div class="sx">
                            <img :src="contact.avatar" alt="">
                            <div>{{contact.name}}
                                <p class="text-gray">Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="messages">

                <div class="container-small">

                    <div class="sx">
                        <img :src="contacts[contattoAttivo].avatar" alt="">
                        <span>{{contacts[contattoAttivo].name}}</span>
                    </div>

                    <span class="dx">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <div class="messages-text">


                    <div class="message-container" v-for="(item, indice) in contacts" v-show="indice == contattoAttivo">
                        <div :class="(message.status == 'sent') ?'message user':'message pc'"
                            v-for="message in item.messages">
                            <!-- <div class="message user" v-for="message in item.messages"
                                v-show="message.status == 'sent'"> -->
                            <p>{{ message.message }}</p>
                            <p class="text-gray data">{{ message.date }}</p>
                        </div>

                        <p>{{ messaggio }}</p>
                    
                    </div>

                    <!-- <div class="pc-container">

                        <div v-for="(item, indice) in contacts" v-show="indice == contattoAttivo">
                            <div class="message pc" v-for="message in item.messages"
                                v-show="message.status == 'received'">
                                <p>{{ message.message }}</p>
                                <p class="text-gray">{{ message.date }}</p>
                            </div>
                        </div>

                    </div> -->
                </div>

                <div class="data-input">
                    <Span class="icon-bottom"><i class="fa-regular fa-face-smile"></i></Span>
                    <input @keyup.enter="aggiungiMessaggio" id="input-bottom" type="text"
                        placeholder="Scrivi un messaggio" v-model="messaggio">
                    <Span class="icon-bottom"><i class="fa-solid fa-microphone"></i></Span>
                </div>

            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>